/* ---Basic css --- */
* { margin: 0; 
    padding: 0; 
    box-sizing: border-box;
 }

body { background: #0b0518;
     color: white;
     font-family: 'Plus Jakarta Sans', sans-serif; 
     overflow-x: hidden; }

.container { max-width: 1100px; 
    margin: 0 auto; 
    padding: 0 20px; }

.text-center { text-align: center; }

.gradient {
    background: linear-gradient(90deg, #ec4899, #f97316, #a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* --- header--- */

.header { padding: 20px 0; 
    border-bottom: 1px solid rgba(255,255,255,0.08); 
}

.nav-box { display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo { font-size: 24px; 
    font-weight: 800; 
}

.nav-links a {
    color: #9ca3af; 
    text-decoration: none; 
    margin: 0 15px; 
    font-size: 11px;
    font-weight: bold; 
    text-transform: uppercase; 
    transition: color 0.3s ease;
}
.nav-links a:hover { color: #ec4899; }

.sub-btn {
    background: linear-gradient(135deg, #ec4899, #f97316, #a855f7);
    color: white; border: none; padding: 10px 22px; border-radius: 50px; font-weight: bold; cursor: pointer;
}

.hamburger { display: none; flex-direction: column; gap: 5px; cursor: pointer; }
.hamburger span { width: 22px; height: 2px; background: white; }
